---
import Analytics from '@vercel/analytics/astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Shopify Integration Guide for Gleo Reward Partners" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/gleo-favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-lime-300 min-h-screen font-space-grotesk">
    <slot />
    <Analytics />
  </body>
</html>